<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Event Planner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F69E00052D5A0BEE00B08972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69EFFEB2D5A0BED00B08972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F69EFFFB2D5A0BEE00B08972</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
